table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: transparent;
    color: white;
}

th, td {
    padding: 6px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    background-color: #14213D;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 12px;
    box-sizing: border-box;
}

h2 {
    color: #FCA311;
}

hr {
    width: 100%;
    background-color: #FCA311;
    height: 1px;
    border: none;
}

span {
    cursor: pointer;
}