<div class="table-container">
    <h2>Personas encontradas</h2>
    <hr>

    @if(headers.length && data.length) {
        <table>
            <thead>
                <tr>
                    <th>Mover</th>
                  @for (header of headers; track $index) {
                    <th>{{ header }}</th>
                  }
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (row of data; track $index) {
                  <tr>
                    <td>
                        <input type="checkbox" [(ngModel)]="row.checked" (change)="onCheckboxChange(row)" />
                    </td>
                    @for (header of headers; track $index) {
                        <td [routerLink]="'/view/' + row.id">
                            {{ row[header] }}
                        </td>
                    }
                        <td>
                            <span class="material-icons" routerLink="/edit/{{ row.id}}">
                                edit
                            </span>
                        </td>
                  </tr>
                }
              </tbody>
    
        </table>
    }

</div>
