<div class="table-container">
    <h2>Personas encontradas</h2>
    <hr>
    <table>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Ingreso</th>
           <!-- 
            <th>Agregar</th>
            -->
        </tr>
        @for (client of data; track $index) {
        <tr>
            <td>{{client.id}}</td>
            <td>{{client.nombre}}</td>
            <td>{{client.edad}}</td>
            <td>{{client.fechaingreso}}</td>
            <!--
            <td>
                <input type="checkbox" id="person1" name="person1">
            </td>
            -->
        </tr>
        }
    </table>
</div>
