<div class="table-container">
    <h2>Personas encontradas</h2>
    <hr>
    <table>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Agregar</th>
        </tr>
        <tr>
            <td>123456789</td>
            <td>Jonathan</td>
            <td>Porras Perez</td>
            <td>
                <input type="checkbox" id="person1" name="person1">
            </td>
        </tr>
        <tr>
            <td>987654321</td>
            <td>Maria</td>
            <td>Perez Porras</td>
            <td>
                <input type="checkbox" id="person2" name="person2">
            </td>
        </tr>
    </table>
</div>
