<div class="input-container">
    <label class="input-label">{{ label }}</label>
    <div class="input-wrapper">
      <input
        type="text"
        class="custom-input"
        [value]="value"
        (input)="onInputChange($event)"
        (blur)="onBlur()"
        [placeholder]="placeholder"
        [disabled]="disabled"
        required
      />
      @if(searchIcon){
        <span class="material-icons search-icon">search</span>
      }
    </div>
    <p class="error-message" *ngIf="touched && (value === null || value === '')">
      {{ error }}
    </p>
  </div>
  