input {
    border: none;
    height: 30px;
    width: 100%;
    outline: none;
    color: black;
    background-color: transparent;
    &::placeholder{
      color: black;
    }
    font-size: 14px;
  }

  input.blue {
    color: white;
    &::placeholder{
      color: white;
    } 
  }

.search-box.blue {
    width: 100%;
    height: 30px;
    background-color: #14213D;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
}

.search-box {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}

.material-icons.white {
    color: white;
}

.material-icon {
  color: black;
}

