<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>
    <shared-dynamic-table
        [table_title]="'Tipos de Pensión'"
        [buttonText]="'Nuevo Tipo de Pensión'"
        [buttonLink]="'/nuevo-tipo-pension'"
        [tableData]="tableData"
        [editLink]="'/editar-tipo-pension/'"
        [deleteButton]="true"
        [currentPage]="currentPage"
        [limitPerPage]="limitPerPage"
        [totalItems]="totalItems"
        (deleteRow)="onDeleteRow($event)"
        (updatePage)="onUpdatePage($event)"
        (changeLimit)="onUpdateLimit($event)"
    />
</div>

<app-confirm-dialog
    *ngIf="showModal"
    [title]="'Eliminar Tipo de Pensión'"
    [text]="'¿Estás seguro de que deseas eliminar este tipo de pensión?'"
    [actionType]="'delete'"
    (confirmed)="eliminarTipoPension($event)"
>
</app-confirm-dialog>

<app-snackbar></app-snackbar>
