.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.top-actions {
  width: 300px;
}

.top-limit {
  display: flex;
  align-items: center;
  gap: 5px;
}

.top-limit label {
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.top-limit select {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: white;
}

th, td {
  padding: 8px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  background-color: #14213D;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  box-sizing: border-box;
}

h2 {
  color: #FCA311;
}

hr {
  width: 100%;
  background-color: #FCA311;
  height: 1px;
  border: none;
}

span.material-icons {
  cursor: pointer;
  margin: 0 5px;
}

.pagination-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pagination-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-buttons button {
  background-color: #e5e7eb;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
}

.pagination-buttons button.active {
  background-color: #00BFFF; /* color celeste para página activa */
  color: white;
}

.pagination-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-buttons .ellipsis {
  padding: 5px 10px;
  color: #9ca3af;
}

select {
  padding: 4px;
}
