span,
h1 {
    color: #21438c;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: white;
    box-shadow: 0 6px 10px rgba(85, 85, 85, 0.1);
}


.logo-list {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: center;
}

img {
    width: 50px;
    height: 50px;
}

.back-icon {
    font-size: 28px;
    transition: transform 0.3s ease;
    color: #21438c;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    border-radius: 50%;
    user-select: none;
    padding: 4px;
    border: 2px solid transparent;
}

.back-icon:hover {
    transform: scale(1.05);
    border-color: #21438c;
    background-color: rgba(33, 67, 140, 0.05);
}