<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <shared-title [text]="'Editar Razón de Servicio'"></shared-title>

    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text
            [label]="'Nombre'"
            [placeholder]="'Ingrese la razón de servicio'"
            [error]="'*Campo requerido'"
            [(value)]="formData.nombreRazonServicio"
        />
    </div>

    <!-- Boton -->
    <div class="buttons">
        <div class="button-container">
            <shared-button text="Editar Razón de Servicio" (buttonClick)="confirmUpdate()"></shared-button>
        </div>
    </div>
</div>

<app-confirm-dialog
  *ngIf="showModal"
  [title]="'Editar Razón de Servicio'"
  [text]="'¿Estás seguro de que deseas editar la razón: ' + formData.nombreRazonServicio + '?'"
  [actionType]="'update'"
  (confirmed)="editarRazonServicio($event)">
</app-confirm-dialog>

<app-snackbar></app-snackbar>
