<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <shared-title [text]="'Nuevo Grado Académico'"></shared-title>

    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text
            [label]="'Nombre'"
            [placeholder]="'Ingrese el nombre'"
            [error]="'*Campo requerido'"
            [(value)]="formData.nombreGradoAcademico"
        />
    </div>

    <!-- Boton -->
    <div class="buttons">
        <div class="button-container">
            <shared-button text="Crear Nuevo Grado Académico" (buttonClick)="confirmUpdate()"></shared-button>
        </div>
    </div>
</div>

<app-confirm-dialog
  *ngIf="showModal"
  [title]="'Crear Nuevo Grado Académico'"
  [text]="'¿Estás seguro de que deseas crear el grado académico: ' + formData.nombreGradoAcademico + '?'"
  [actionType]="'add'"
  (confirmed)="crearGradoAcademico($event)">
</app-confirm-dialog>

<app-snackbar></app-snackbar>
