<div class="container">
    <div class="left">
        <div class="data">
            <img src="restaura-logo.png" alt="Logo Asociación Restaura San José">
            <div class="inputs-container">
                <h2>Crear Cuenta</h2>
                <shared-input-text 
                    label="Ingrese la identificación" 
                    value=""
                    (valueChange)="onIdChange($event)">
                </shared-input-text>
                <div class="name">
                    <shared-input-text 
                    label="Ingrese el nombre" 
                    value=""
                    (valueChange)="onNameChange($event)">
                    </shared-input-text>
                    <shared-input-text 
                        label="Ingrese los apellidos" 
                        value=""
                        (valueChange)="onLastNameChange($event)">
                    </shared-input-text>
                </div>
                <shared-input-text 
                    label="Ingrese el correo" 
                    value=""
                    (valueChange)="onEmailChange($event)">
                </shared-input-text>
                <div class="passwords">
                    <shared-input-text 
                        label="Ingrese la contraseña" 
                        [isPassword]="true"
                        value=""
                        (valueChange)="onPasswordChange($event)">
                    </shared-input-text>
                    <shared-input-text 
                        label="Confirme la contraseña" 
                        [isPassword]="true"
                        value=""
                        (valueChange)="onConfirmPasswordChange($event)">
                    </shared-input-text>
                </div>
                <shared-button 
                    text="Registrar"
                    (click)="addUser()">
                </shared-button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="image">
            <div class="text">
                <h1>Asociación Restaura</h1>
                <p>¡Sé parte vos también del cambio!</p>
            </div>
            <img class="banner" src="restaura-banner.png" alt="Logo Asociación Restaura San José">
        </div>
    </div>
</div>

<app-confirm-dialog
  *ngIf="showNewUser"
  [title]="'Agregar nuevo usuario'"
  [text]="`¿Está seguro de que desea agregar un nuevo usuario con identificación ${this.id}?`"
  [actionType]="'add'"
  (confirmed)="onRegister($event)">
</app-confirm-dialog>