<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <shared-title [text]="'Nuevo Tipo de Ayuda'"></shared-title>

    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text
            [label]="'Nombre'"
            [placeholder]="'Ingrese el tipo de ayuda'"
            [error]="'*Campo requerido'"
            [(value)]="formData.nombreTiposAyuda"
        />
    </div>

    <!-- Boton -->
    <div class="buttons">
        <div class="button-container">
            <shared-button text="Crear Nuevo Tipo" (buttonClick)="confirmUpdate()"></shared-button>
        </div>
    </div>
</div>

<app-confirm-dialog
  *ngIf="showModal"
  [title]="'Crear Tipo de Ayuda'"
  [text]="'¿Estás seguro de que deseas crear el tipo de ayuda: ' + formData.nombreTiposAyuda + '?'"
  [actionType]="'add'"
  (confirmed)="crearTipoAyuda($event)">
</app-confirm-dialog>

<app-snackbar></app-snackbar>
