<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <!-- <shared-search-box [searchIcon]="true"
    (onValue)="searchClientById($event)">
    </shared-search-box> -->


    <div class="table-container">
        <!-- <shared-search-box 
            [searchIcon]="true"
            (onValue)="searchClientById($event)">
        </shared-search-box> -->
        <shared-search-box [label]="'Buscar persona'" [placeholder]="'Ingrese la cedula de la persona'"
            [error]="'*Campo requerido'" (valueChange)="searchClient($event, page)" [searchIcon]="true" />

        <shared-dynamic-table
            [table_title]="'Habitantes'"
            [tableData]="this.tableData"
            [editLink]="'/edit/'"
            [deleteButton]="false"
            [currentPage]="page"
            [limitPerPage]="limit"
            [totalItems]="total"
            [showButton]="false"
            (updatePage)="onUpdatePage($event)"
            (changeLimit)="onUpdateLimit($event)"
            [selectable]="true"
            (selectedIdChange)="onSelectedIdChange($event!)"
        />
    </div>

    <div class="buttons-container">
        <span class="material-icons getout" (click)="getInClient(selectedId)">
            keyboard_arrow_right
        </span>
        <span class="material-icons getin" (click)="getOutClient()">
            keyboard_arrow_left
        </span>
    </div>

    <div class="table-container">
        <div class="options">
            <!-- <shared-search-box
            [label]="'Buscar persona'"
            [placeholder]="'Ingrese el nombre'"
            [error]="'*Campo requerido'"
            [searchIcon]="true"
        /> -->
            <shared-input-date [label]="'Fecha Ingreso'" [placeholder]="'Fecha Ingreso'"
                (valueChange)="getDate($event, page)">
            </shared-input-date>
        </div>

        <shared-dynamic-table
            [table_title]="'Habitantes en Bitácora'"
            [tableData]="this.tableDataLog"
            [editLink]="'/edit/'"
            [deleteButton]="false"
            [currentPage]="pageLog"
            [limitPerPage]="limitLog"
            [totalItems]="totalLog"
            [showButton]="false"
            (updatePage)="onUpdatePageLog($event)"
            (changeLimit)="onUpdateLimitLog($event)"
            [selectable]="true"
            (selectedIdChange)="onSelectedOutIdChange($event!)"
        />
    </div>
</div>

<app-confirm-dialog *ngIf="showNewBitacora" [title]="'Bitácora no encontrada'"
    [text]="'No hay bitácora para este día. ¿Desea crearla?'" [actionType]="'add'"
    (confirmed)="handleNewBitacora($event)">
</app-confirm-dialog>

<app-confirm-dialog *ngIf="showInfoBitacora" [title]="'Bitácora creada para la fecha:\n ' + this.date"
    [text]="'Bitácora Nueva'" [actionType]="'info'" (confirmed)="handleInfoBitacora($event)">
</app-confirm-dialog>

<app-confirm-dialog *ngIf="showDuplicateBitacora" [title]="'Error al agregar el usuario'"
    [text]="'Usuario ya existe en la bitácora de este día.'" [actionType]="'info'"
    (confirmed)="handleDuplicateBitacora($event)">
</app-confirm-dialog>

<app-confirm-dialog *ngIf="showRoomInfo" [title]="'Último cuarto registrado para la persona'"
    [text]="'El último cuarto regisrado para la persona con cédula: ' + this.selectedId + ' es: ' + this.lastRoom" [actionType]="'info'" 
    (confirmed)="handleRoomInfo($event)">
</app-confirm-dialog>

<app-confirm-dialog *ngIf="showMissingSelection" [title]="'Faltan selecciones para continuar'"
    [text]="'Debe seleccionar la persona a agregar y la fecha a consultar'" [actionType]="'info'" 
    (confirmed)="handleMissingSelection($event)">
</app-confirm-dialog>

<app-confirm-dialog *ngIf="showMissingOutSelection" [title]="'Faltan selecciones para continuar'"
    [text]="'Debe seleccionar la persona a eliminar y la fecha a consultar'" [actionType]="'info'" 
    (confirmed)="handleMissingOutSelection($event)">
</app-confirm-dialog>

<app-confirm-dialog *ngIf="showGetOutConfirm" [title]="'Eliminar de la bitácora'"
    [text]="'Se va a remover la persona con cédula ' + this.selectedOutId + ' ¿Desea continuar?'" [actionType]="'delete'"
    (confirmed)="handleGetOutConfirm($event)">
</app-confirm-dialog>