<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <shared-title [text]="'Nuevo Como Conoció el Dormitorio'"></shared-title>

    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text
            [label]="'Nombre'"
            [placeholder]="'Ingrese el nombre'"
            [error]="'*Campo requerido'"
            [(value)]="formData.nombreDondeDormi"
        />
    </div>

    <!-- Boton -->
    <div class="buttons">
        <div class="button-container">
            <shared-button text="Crear Nuevo Como Conoció el Dormitorio" (buttonClick)="confirmUpdate()"></shared-button>
        </div>
    </div>
</div>

<app-confirm-dialog
  *ngIf="showModal"
  [title]="'Crear Nuevo Como Conoció el Dormitorio'"
  [text]="'¿Estás seguro de que deseas crear el registro: ' + formData.nombreDondeDormi + '?'"
  [actionType]="'add'"
  (confirmed)="crearDondeDurmio($event)">
</app-confirm-dialog>

<app-snackbar></app-snackbar>
