<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <shared-title [text]="'Agregar Nueva Persona Usuario'"></shared-title>

    <!-- INFORMACION PERSONAL -->
    <shared-subtitle [text]="'Información Personal'" />
    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text [label]="'Nombre'" [placeholder]="'Ingrese el nombre'" />
        <!-- Segundo Nombre -->
        <shared-input-text [label]="'Segundo Nombre'" [placeholder]="'Ingrese el segundo nombre'" />
        <!-- Apellido -->
        <shared-input-text [label]="'Apellido'" [placeholder]="'Ingrese el apellido'" />
        <!-- Segundo Apellido -->
        <shared-input-text [label]="'Segundo Apellido'" [placeholder]="'Ingrese el segundo apellido'" />
        <!-- Tipo Identificacion -->
        <shared-select [label]="'Tipo de Identificación'" [options]="tipoIdentificacionOptions" />
        <!-- Identificacion -->
        <shared-input-text [label]="'Identificación'" [placeholder]="'Ingrese el Identificación'" />
        <!-- Edad -->
        <shared-input-number [label]="'Edad'" [placeholder]="'Ingrese la Edad'" />
        <!-- Fecha Nacimiento -->
        <shared-input-date [label]="'Fecha de Nacimiento'" [placeholder]="'Ingrese la fecha de nacimiento'" />
        <!-- Género -->
        <shared-select [label]="'Género'" [options]="generoOptions" />
        <!-- Número de Hijos -->
        <!-- Edad -->
        <shared-input-number [label]="'Número de Hijos'" [placeholder]="'Ingrese el número de hijos'" />
    </div>

    <!-- PROCEDENCIA -->
    <shared-subtitle [text]="'Procedencia'" />
    <div class="form-wrap">
        <!-- Pais -->
        <shared-select [label]="'Pais'" [options]="paisOptions" />
        <!-- Provincia -->
        <shared-select [label]="'Provincia'" [options]="provinciaOptions" />
        <!-- Cantón -->
        <shared-select [label]="'Cantón'" [options]="cantonOptions" />
    </div>

    <!-- DORMITORIO -->
    <shared-subtitle [text]="'Dormitorio'" />
    <div class="form-wrap">
        <!-- Como contacto el dormitorio -->
        <shared-multiselect
            [label]="'¿Como contacto el dormitorio?'"
            [options]="contactoDormitorioOptions"
            [multiple]="true"
        />
        <!-- Razon por la que acude al dormitorio -->
        <shared-multiselect
            [label]="'¿Razón por la que acude al dormitorio?'"
            [options]="razonServicioOptions"
            [multiple]="true"
        />
        <!-- Hace cuanto vive en la calle -->
        <shared-select [label]="'¿Hace cuanto vive en la calle?'" [options]="tiempoCalleOptions" />
    </div>

    <!-- TRABAJO -->
    <shared-subtitle [text]="'Trabajo'" />
    <div class="form-wrap">
        <!-- Trabaja actualmente -->
        <shared-input-boolean [label]="'¿Trabaja actualmente?'" [(value)]="trabajaActualmente" />

        <!-- Empresa -->
        <shared-input-text [label]="'Empresa'" [placeholder]="'Ingrese la empresa'" *ngIf="trabajaActualmente" />

        <!-- Ocupación -->
        <shared-input-text [label]="'Ocupación'" [placeholder]="'Ingrese la ocupación'" />
    </div>

    <!-- LICENCIAS -->
    <shared-subtitle [text]="'Licencias'" />
    <div class="form-wrap">
        <!-- Tiene Licencias -->
        <shared-input-boolean [label]="'¿Tiene Licencia?'" [(value)]="tieneLicencia" />

        <!-- Razon por la que acude al dormitorio -->
        <shared-input-text *ngIf="tieneLicencia" [label]="'¿Cual Licencia?'" />
    </div>

    <!-- OBSERVACIONES -->
    <shared-subtitle [text]="'Observaciones'" />
    <shared-input-text-area [label]="'Observaciones'" [placeholder]="'Ingrese una observación extra'" [rows]="3" />

    <!-- INFORMACION PARA REFERENCIAS -->
    <shared-subtitle [text]="'Información para Referencias'" />
    <p>Ha estado los últimos tres meses en:</p>
    <div class="forms-wraps">
        <div class="form-wrap">
            <!-- Carcel -->
            <shared-input-boolean [label]="'¿Cárcel?'" [(value)]="tresMesesCarcel" />

            <!-- Razón -->
            <shared-input-text [label]="'Razón'" [placeholder]="'Ingrese la razón'" *ngIf="tresMesesCarcel" />
        </div>
        <div class="form-wrap">
            <!-- Tratamiento Medico -->
            <shared-input-boolean [label]="'¿Tratamiento Médico?'" [(value)]="tresMesesTratamientoMedico" />

            <!-- Razón -->
            <shared-input-text
                [label]="'Razón'"
                [placeholder]="'Ingrese la razón'"
                *ngIf="tresMesesTratamientoMedico"
            />
        </div>
        <div class="form-wrap">
            <!-- Tratamiento Psiquiatrico -->
            <shared-input-boolean [label]="'¿Tratamiento Psiquiatrico?'" [(value)]="tresMesesTratamientoPsiquiatrico" />

            <!-- Razón -->
            <shared-input-text
                [label]="'Razón'"
                [placeholder]="'Ingrese la razón'"
                *ngIf="tresMesesTratamientoPsiquiatrico"
            />
        </div>
        <div class="form-wrap">
            <!-- Tratamiento Medico -->
            <shared-input-boolean [label]="'¿Tratamiento De Drogas?'" [(value)]="tresMesesTratamientoDeDrogas" />

            <!-- Razón -->
            <shared-input-text
                [label]="'Razón'"
                [placeholder]="'Ingrese la razón'"
                *ngIf="tresMesesTratamientoDeDrogas"
            />
        </div>
    </div>

    <!-- ESTADO DE SALUD -->
    <shared-subtitle [text]="'Estado de Salud'" />
    <div class="forms-wraps">
        <div class="form-wrap">
            <!-- ¿Tiene tos, flema sanguinolenta o fiebre? -->
            <shared-input-boolean [label]="'¿Tiene tos, flema sanguinolenta o fiebre?'" [value]="false" />

            <!-- Condicion Especial -->
            <shared-input-text
                [label]="'Si padece de condición especial, describala'"
                [placeholder]="'Ingrese la condición'"
            />

            <!-- Discapacidad -->
            <shared-input-text [label]="'Discapacidad'" [placeholder]="'Ingrese la discapacidad'" />
        </div>
        <div class="form-wrap">
            <!-- Toma Medicacion -->
            <shared-input-boolean [label]="'¿Toma medicación?'" [(value)]="tomaMedicamento" />

            <!-- Medicamento -->
            <shared-input-text
                [label]="'Medicamentos'"
                [placeholder]="'Ingrese los medicamentos'"
                *ngIf="tomaMedicamento"
            />
        </div>
    </div>

    <!-- PENSION-->
    <shared-subtitle [text]="'Pensiones'" />
    <div class="form-wrap">
        <!-- Pensiones -->
        <shared-multiselect [label]="'Tipos de Pension'" [options]="tipoPensionesOptions" [multiple]="true" />
    </div>

    <!-- INFORMACION ACADEMICA -->
    <shared-subtitle [text]="'Información Académica'" />
    <div class="form-wrap">
        <!-- Sabe leer y escribir -->
        <shared-input-boolean [label]="'¿Sabe leer y escribir?'" [value]="false" />

        <!-- Grado Académico -->
        <shared-multiselect [label]="'Grado Académico'" [options]="gradoAcademicoOptions" [multiple]="true" />

        <!-- Nombre de Tecnico -->
        <shared-input-text [label]="'Nombre de Técnico'" [placeholder]="'Ingrese la nombre del técnico'" />
    </div>

    <!-- DROGAS -->
    <shared-subtitle [text]="'Consumo de Drogas'" />
    <div class="form-wrap">
        <!-- Consume Drogas -->
        <shared-input-boolean [label]="'¿Consume drogas actualmente?'" [(value)]="consumeDrogas" />

        <!-- Drogas que consume -->
        <shared-multiselect
            *ngIf="consumeDrogas"
            [label]="'Drogas que consume'"
            [options]="tipoDrogasOptions"
            [multiple]="true"
        />

        <!-- Droga que mas le afecta -->
        <shared-input-text
            *ngIf="consumeDrogas"
            [label]="'Droga que más le afecta'"
            [placeholder]="'Ingrese la droga que más le afecta'"
        />

        <!-- Edad de inicio de consumo -->
        <shared-input-number
            *ngIf="consumeDrogas"
            [label]="'Edad de Inicio del Consumo'"
            [placeholder]="'Ingrese la edad'"
        />
    </div>

    <!-- CARCEL -->
    <shared-subtitle [text]="'Consumo de Drogas'" />
    <div class="form-wrap">
        <!-- Consume Drogas -->
        <shared-input-boolean [label]="'¿Ha estado en la cárcel?'" [(value)]="haEstadoEnCarcel" />

        <!-- Razon -->
        <shared-input-text
            *ngIf="haEstadoEnCarcel"
            [label]="'Razón de Encarcelamiento'"
            [placeholder]="'Ingrese la razón de encarcelamiento'"
        />

        <!-- Edad de inicio de consumo -->
        <shared-input-number *ngIf="haEstadoEnCarcel" [label]="'Edad de Inicio'" [placeholder]="'Ingrese la edad'" />

        <!-- Consume Drogas -->
        <shared-input-boolean *ngIf="haEstadoEnCarcel" [label]="'¿Pendiente Resolución?'" />
    </div>

    <!-- INFORMACION PERSONAL -->
    <shared-subtitle [text]="'Información Personal'" />
    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text [label]="'Nombre'" [placeholder]="'Ingrese el nombre'" />
        <!-- Telefono -->
        <shared-input-number [label]="'Teléfono'" [placeholder]="'Ingrese el teléfono'" />
        <!-- Parentesco -->
        <shared-input-text [label]="'Parentesco'" />
    </div>

    <!-- INFORMACION INAMU -->
    <shared-subtitle [text]="'Información INAMU'" />
    <div class="form-wrap">
        <!-- Jefa Hogar -->
        <shared-input-boolean [label]="'¿Es jefa de hogar?'" [value]="false" />

        <!-- Mantiene contacto -->
        <shared-input-boolean [label]="'¿Mantiene contacto con su familia?'" [value]="false" />

        <!-- Brinda Apoyo -->
        <shared-input-boolean [label]="'¿Brinda apoyo económico?'" [value]="false" />

        <!-- Tiene pareja -->
        <shared-input-boolean [label]="'¿Tiene pareja?'" [(value)]="tienePareja" />

        <!-- Su pareja hace uso del dormitorio -->
        <shared-input-boolean
            *ngIf="tienePareja"
            [label]="'¿Su pareja hace uso del Centro Dormitorio?'"
            [(value)]="suParejaHaceUsoDelDormitorio"
        />
        <!-- Porque No -->
        <shared-input-number
            *ngIf="!suParejaHaceUsoDelDormitorio && tienePareja"
            [label]="'¿Porque No?'"
            [placeholder]="'Ingrese la razón'"
        />

        <!-- Recibe ayuda de alguna institución -->
        <shared-multiselect
            [label]="'¿Recibe ayuda de alguna institución?'"
            [options]="tipoAyudaOptions"
            [multiple]="true"
        />

        <!-- Ha sufrido algun tipo de violencia -->
        <shared-multiselect
            [label]="'¿Ha sufrido algun tipo de violencia?'"
            [options]="tipoViolenciaOptions"
            [multiple]="true"
        />
        <!-- ¿Ante esta situación se dirigio a alguna institución? -->
        <shared-multiselect
            [label]="'¿Ante esta situación se dirigio a alguna institución?'"
            [options]="institucionesAyudaOptions"
            [multiple]="true"
        />
    </div>

    <div class="buttons">
        <div class="button-container">
            <shared-button text="Crear Persona Usuario"></shared-button>
        </div>
        <div class="button-container">
            <shared-secondary-button text="Cancelar Creación"></shared-secondary-button>
        </div>
    </div>
</div>
