<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>
    <shared-dynamic-table
        [table_title]="'Estados Civiles'"
        [buttonText]="'Nuevo Estado Civil'"
        [buttonLink]="'/nuevo-estado-civil'"
        [tableData]="tableData"
        [editLink]="'/editar-estado-civil/'"
        [currentPage]="currentPage"
        [limitPerPage]="limitPerPage"
        [totalItems]="totalItems"
        (deleteRow)="onDeleteRow($event)"
        (updatePage)="onUpdatePage($event)"
        (changeLimit)="onUpdateLimit($event)"
    />
</div>

<app-confirm-dialog
    *ngIf="showModal"
    [title]="'Eliminar Estado Civil'"
    [text]="'¿Estás seguro de que deseas eliminar este estado civil?'"
    [actionType]="'delete'"
    (confirmed)="eliminarEstadoCivil($event)"
>
</app-confirm-dialog>

<app-snackbar></app-snackbar>
