<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <shared-title [text]="'Editar Institución de Violencia'"></shared-title>

    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text
            [label]="'Nombre'"
            [placeholder]="'Ingrese el nombre de la institución'"
            [error]="'*Campo requerido'"
            [(value)]="formData.nombreInstitucionesViolencia"
        />
    </div>

    <!-- Boton -->
    <div class="buttons">
        <div class="button-container">
            <shared-button text="Editar Institución" (buttonClick)="confirmUpdate()"></shared-button>
        </div>
    </div>
</div>

<app-confirm-dialog
  *ngIf="showModal"
  [title]="'Editar Institución de Violencia'"
  [text]="'¿Estás seguro de que deseas editar la institución: ' + formData.nombreInstitucionesViolencia + '?'"
  [actionType]="'update'"
  (confirmed)="editarInstitucionesViolencia($event)">
</app-confirm-dialog>

<app-snackbar></app-snackbar>
