<div class="container">
    <div class="left">
        <div class="data">
            <img src="restaura-logo.png" alt="Logo Asociación Restaura San José">
            <div class="inputs-container">
                <h2>Bienvenido</h2>
                <shared-input-text 
                    label="Ingrese el correo" 
                    value="" 
                    (valueChange)="onEmailChange($event)">
                </shared-input-text>
                <shared-input-text 
                    label="Ingrese la contraseña" 
                    [isPassword]="true" 
                    value=""
                    (valueChange)="onPasswordChange($event)">
                </shared-input-text>
                <shared-button 
                    text="Ingresar"
                    (click)="login()">
                </shared-button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="image">
            <div class="text">
                <h1>Asociación Restaura</h1>
                <p>¡Sé parte vos también del cambio!</p>
            </div>
            <img class="banner" src="restaura-banner.png" alt="Logo Asociación Restaura San José">
        </div>
    </div>
</div>
<app-dialog 
  [text]="dialogMessage" 
  [visible]="showDialog" 
  (closed)="showDialog = false">
</app-dialog>