<div class="container">
    <div *ngIf="cargando" class="overlay">
        <div class="spinner"></div>
    </div>

    <shared-title [text]="'Editar Tiempo en Calle'"></shared-title>

    <div class="form-wrap">
        <!-- Nombre -->
        <shared-input-text
            [label]="'Nombre'"
            [placeholder]="'Ingrese el rango de tiempo'"
            [error]="'*Campo requerido'"
            [(value)]="formData.nombreTiempoCalle"
        />
    </div>

    <!-- Boton -->
    <div class="buttons">
        <div class="button-container">
            <shared-button text="Editar Tiempo en Calle" (buttonClick)="confirmUpdate()"></shared-button>
        </div>
    </div>
</div>

<app-confirm-dialog
  *ngIf="showModal"
  [title]="'Editar Tiempo en Calle'"
  [text]="'¿Estás seguro de que deseas editar el tiempo en calle: ' + formData.nombreTiempoCalle + '?'"
  [actionType]="'update'"
  (confirmed)="editarTiempoCalle($event)">
</app-confirm-dialog>

<app-snackbar></app-snackbar>
